nav{
    --latime-buton:100px;
    --inaltime-buton:30px;
    background-color:var(--culoare-nav)
}
#hamburger, #ch-menu{
display: none;
}

ul.meniu, ul.meniu ul{
    list-style-type:none;
    padding:0;
    margin:0;
}
.text-icon, .imag-icon{
    dsiplay:inline-block;
}

ul.meniu{
    display:flex;
}

ul.meniu ul{
    display:none;
}

ul.meniu li{
    display: inline-block;
    width: var(--latime-buton);
    height: var(--inaltime-buton);
    /* padding: 5px; */
    border: 2px solid var(--culoare-fundal);
    /* text-decoration: none; */
    background-color: var(--culoare-link);
    color: var(--culoare-fundal);
    /* border-top-right-radius: 20px; */
    text-align: center;
    line-height:var(--inaltime-buton);
    transition: all 0.3s linear;
}

ul.meniu li:hover{
    background-color: var(--culoare-detaliu);
    cursor:pointer;
}

ul.meniu li a{
    color: var(--culoare-fundal);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}

ul.meniu li:hover a{
    transition: all 1s linear;
}