#hamburger{
    display:block !important;
}

#acasa{
    display:inline-block;
}

#hamburger> img{
    width:3em;
    height:auto;
}

ul.meniu{
    display:none;
}

#ch-menu:checked+ul.meniu{
    display:block;
    position: absolute;
    z-index:10;
    width:100%;
}

ul.meniu ul{
    width:100%;
}

ul.meniu li{
    width:100%;
}