<header>
        <nav>
            <label id="hamburger" for="ch-menu">
                <img src="resurse/imagini/Hamburger_icon_alb.png">
            </label>
            <input type="checkbox" id="ch-menu" />
            <ul class="meniu">
                <li>
                    <div><a href="index.html">Acasă</a></div>
                    <ul>
                        <li><a href="#welcome">Bine ati venit</a></li>
                        <li><a href="#promotii">Promoții</a></li>
                        <li><a href="#evenimente">Evenimente</a></li>
                        <li><a href="#produse">Oferta</a></li>
                        <li><a href="#program">Program</a></li>
                        <li><a href="#locatii">Adresele locațiilor noastre</a></li>
                        <li><a href="#retete">Rețete</a></li>
                        <li><a href="#recenzii">Recenzii</a></li>
                    </ul>


                </li>
                <li>
                    <div><a href="comanda.html">Comandă</a></div>
                </li>
                <li>
                    <div><a href="despre.html">Despre noi</a></div>
                    <ul>
                        <li><a href="#prezentare">Prezentare</a></li>
                        <li><a href="despre.html#galerie">Galerie</a></li>
                    </ul>
                </li>
                <li>
                    <div><a href="meniu.html">Meniu</a></div>
                    <ul>
                        <li><a href="meniu.html#gratar">Grătar</a></li>
                        <li><a href="meniu.html#garnituri">Garnituri</a></li>
                        <li><a href="meniu.html#deserturi">Deserturi</a></li>
                        <li><a href="meniu.html#snacks">Snacks</a></li>
                        <li><a href="meniu.html#bauturi">Băuturi</a></li>
                    </ul>

                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="header-titlu">
            <img id ="logo-seminte" src="./resurse/imagini/favicon.png" alt="sigla" />
            <h1>Mâncare urgentă</h1> <!-- title e titlul tabului. asta e titlul paginii-->
        </div>
    </header>