<header>
    <nav>
        <label id="hamburger" for="ch-menu">
            <div class="bara"></div>
            <div class="bara"></div>
            <div class="bara"></div>
        </label>
        <input type="checkbox" id="ch-menu" />

        <ul class="meniu">
            <li>
                <div class="imag-icon" id="acasa-icon">
                    <span class="fa-solid fa-house"></span>
                </div>
                <div class="text-icon" id="acasa-text"><a href="/index"> Acasă</a></div>
                <ul>
                    <li><a href="/index#welcome">Bine ați venit</a></li>
                    <li><a href="/index#promotii">Promoții</a></li>
                    <li><a href="/index#evenimente">Evenimente</a></li>
                    <li><a href="/index#produse">Oferta</a></li>
                    <li><a href="/index#program">Program</a></li>
                    <li><a href="/index#locatii">Locații</a></li>
                    <li><a href="/index#retete">Rețete</a></li>
                    <li><a href="/index#recenzii">Recenzii</a></li>
                </ul>


            </li>
            <li>
                <div class="imag-icon">
                    <span class="fa-solid fa-cart-shopping"></span>
                </div>
                <div class="text-icon"><a href="comanda.html"> Comandă</a></div>
            </li>
            <li>
                <div class="imag-icon">
                    <span class="fa-solid fa-circle-info"></span>
                </div>
                <div class="text-icon"><a href="/despre"> Despre noi</a></div>
                <ul>
                    <li><a href="/despre#prezentare">Prezentare</a></li>
                    <li><a href="/despre#istoric">Istoric</a></li>
                    <li><a href="/despre#galerie">Galerie</a></li>
                </ul>
            </li>
            <li>
                <div class="imag-icon">
                    <span class="fa-solid fa-utensils"></span>
                </div>
                <div class="text-icon"><a href="meniu.html"> Meniu</a></div>
                <ul>
                    <li><a href="meniu.html#gratar">Grătar</a></li>
                    <li><a href="meniu.html#garnituri">Garnituri</a></li>
                    <li><a href="meniu.html#deserturi">Deserturi</a></li>
                    <li><a href="meniu.html#snacks">Snacks</a></li>
                    <li><a href="meniu.html#bauturi">Băuturi</a></li>
                </ul>

            </li>
            <li>
                <div class="imag-icon">
                    <span class="fa-solid fa-envelope"></span>
                </div>
                <div class="text-icon"><a href="contact.html"> Contact</a></div>
            </li>
        </ul>
    </nav>
    <div class="header-titlu">
        <img id="logo-seminte" src="./resurse/imagini/favicon.png" alt="sigla" />
        <h1>Mâncare urgentă</h1> <!-- title e titlul tabului. asta e titlul paginii-->
    </div>

    <div id="watermark">
        <p>Sabina<br>Brînzei</p>
    </div>
</header>